#root {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    align-items: flex-start;
    background-color: darkslategray;
    


    section {
        width: 100%;
        max-width: 400px;
  


        .days {
            display: flex;
            flex-wrap: wrap;
            gap: 5%;
            /* min-height: 200px; */
            align-items: flex-start;

            .day {
                width: 10%;
                box-sizing: border-box;
                border: 1px solid rgba(0, 0, 0, 0.2);
                text-align: center;
                padding: 5px 0;
                margin-bottom: 10px;
                transition: all 0.5s ease;

            }

        }

    }

    .January {
        background-color: aquamarine;
        padding: 10px;
        border-radius: 15px;
        margin-top: 20px;
        
    }

    .February {
        background-color: darkgoldenrod;
        padding: 10px;
        border-radius: 15px;
        margin-top: 20px;
        
    }

    .March {
        background-color: darkviolet;
        padding: 10px;
        border-radius: 15px;
    }

    .April {
        background-color: chartreuse;
        padding: 10px;
        border-radius: 15px;
    }

    .May {
        background-color: crimson;
        padding: 10px;
        border-radius: 15px;
    }

    .June {
        background-color: dodgerblue;
        padding: 10px;
        border-radius: 15px;
    }

    .July {
        background-color: gold;
        padding: 10px;
        border-radius: 15px;
    }

    .August {
        background-color: hotpink;
        padding: 10px;
        border-radius: 15px;
    }

    .September {
        background-color: olivedrab;
        padding: 10px;
        border-radius: 15px;
    }

    .October {
        background-color: orangered;
        padding: 10px;
        border-radius: 15px;
    }

    .November {
        background-color: indianred;
        padding: 10px;
        border-radius: 15px;
        margin-bottom: 20px;
    }
    .December {
        background-color: cornflowerblue;
        padding: 10px;
        border-radius: 15px;
        margin-bottom: 20px;
    }


    button {
        width: 120px;
        height: 40px;
        border-radius: 20px;
        background: linear-gradient(45deg, rgb(143, 143, 255), rgb(247, 100, 247));
        position: fixed;
        top: 10px;
        right: 0;
        border: none;
        color: bisque;
    }



}


@media only screen and (max-width: 800px) {
    .day {
        color: red;
    }
}

@media only screen and (max-width: 700px) {
    .day {
        font-size: 20px;
    }
}

.hidden {
    display: none;
}


.clicked {
    transform: rotate(180deg);
    
}
.selected-day {
    width: 200px;
    text-align: center;
    font-size: 34px;

}